<!DOCTYPE html>
<html ng-app="myModule">
<head lang="en">
    <meta charset="UTF-8">
    <title>Direktive</title>
    <link type="text/css" rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="app.css"/>
</head>
<body>

<div ng-include="views/header.html">

</div>


<div class="row" ng-controller="TypeController as typeController">
    <div class="col-md-8">
        <div class="panel">
            <div class="panel panel-heading">
                List of types
            </div>
            <div class="panel panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Size</td>
                        <td>Options</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="type in typeController.types">
                        <td>{{type.id}}</td>
                        <td>{{type.name}}</td>
                        <td>{{type.size}}</td>
                        <td>
                            <button ng-click="typeController.edit(type)" class="glyphicon glyphicon-edit"></button>
                            <button ng-click="typeController.remove(type)" class="glyphicon glyphicon-remove"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel">
            <div class="panel panel-heading">
                {{ typeController.currentType.id === null ? "Create New" : "Edit"}}
            </div>
            <div class="panel panel-body">
                <div class="form-group">
                    <label>Name</label>
                    <input type="hidden" ng-model="typeController.currentType.id"/>
                    <input type="text" ng-model="typeController.currentType.name" placeholder="Name of type"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Size</label>
                    <input type="text" ng-model="typeController.currentType.size" placeholder="Size of type"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-success"
                            ng-click="typeController.save(typeController.currentType)">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <type-map types="typeController.types"></type-map>
</div>

<script src="../bower_components/angular/angular.js"></script>

<script src="../bower_components/lodash/dist/lodash.min.js"></script>
<script src="../bower_components/restangular/dist/restangular.js"></script>
<script src="../bower_components/ngDraggable/ngDraggable.js"></script>

<script src="app.js"></script>
<script src="controller/TypeController.js"></script>
<script src="services/TypeService.js"></script>
<script src="directives/TypeMap.js"></script>
</body>
</html>
